.slider{
    position: relative;
    background-color: brown;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.slider-button{
    position: absolute;
    font-size: 3rem;
    color: transparent;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s;
    user-select: none;
}
.slider-button:hover{
    background-color: rgba(0, 0, 0, 0.24);
    color: whitesmoke;
}
.slider-item-container{
    height: 100%;
    background-color: aqua;
    display: flex;
}
#proximo{
    right: 0;
}
.slider-item{
    height: 100%;
    background-color: teal;
    width: 50vw;
    transition: all 1s;
}
.slider-item:first-child{
    margin-left: -50vw;
}
.slider-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}